/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor principal */
.container {
    display: flex;
    height: 100vh;
}
/* Menú lateral */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.sidebar nav ul li a:hover {
    background-color: #575757;
}

/* Contenido principal */
.content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.hidden {
    display: none;
}

h1, h2 {
    margin-top: 0;
}

/* Formulario de pagos y usuarios */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-right: 10px;
    padding: 8px;
    font-size: 1em;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#paymentList, #userList {
    margin-top: 20px;
}
